---
import full_1 from '../assets/fulls/01.jpg';
import full_2 from '../assets/fulls/02.jpg';
import full_3 from '../assets/fulls/03.jpg';
import full_4 from '../assets/fulls/04.jpg';
import full_5 from '../assets/fulls/05.jpg';
import full_6 from '../assets/fulls/06.jpg';

import th_1 from '../assets/thumbs/01.jpg';
import th_2 from '../assets/thumbs/02.jpg';
import th_3 from '../assets/thumbs/03.jpg';
import th_4 from '../assets/thumbs/04.jpg';
import th_5 from '../assets/thumbs/05.jpg';
import th_6 from '../assets/thumbs/06.jpg';
---

<!-- Two -->
<section id="two">
	<h2>Recent Work</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_1} class="image fit thumb"><img src={th_1} alt="" /></a>
			<h3>Magna sed consequat tempus</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_2} class="image fit thumb"><img src={th_2} alt="" /></a>
			<h3>Ultricies lacinia interdum</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_3} class="image fit thumb"><img src={th_3} alt="" /></a>
			<h3>Tortor metus commodo</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_4} class="image fit thumb"><img src={th_4} alt="" /></a>
			<h3>Quam neque phasellus</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_5} class="image fit thumb"><img src={th_5} alt="" /></a>
			<h3>Nunc enim commodo aliquet</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_6} class="image fit thumb"><img src={th_6} alt="" /></a>
			<h3>Risus ornare lacinia</h3>
			<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
		</article>
	</div>
	<ul class="actions">
		<li><a href="#" class="button">Full Portfolio</a></li>
	</ul>
</section>
